<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block th:fragment="footer">
        <footer class="text-center text-muted small py-3">
            SupplyTrack · Sistema de control de inventario
        </footer>

        <section th:replace="~{general/fragmentos :: mostrarToast}"></section>
        <th:block th:replace="~{general/fragmentos :: scripts}"></th:block>
    </th:block>
</body>
</html>
